

.aboutContainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #f7f7f7;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .aboutTitle {
	font-size: 2.5em;
	color: #333;
	margin-bottom: 20px;
  }
  
  .aboutText {
	font-size: 1.2em;
	color: #666;
	line-height: 1.6;
	margin-bottom: 15px;
  }
  
  .aboutText:last-of-type {
	margin-bottom: 0;
  }
