.card {
    display:flex;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: Arial, sans-serif;
}

.card img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #777;
}

.card .rating {
    display: flex;
    font-size: 1.2em;
    color: #333;
    /* margin-bottom: 15px; */
}

.card .rating img {
  
    width: 20px;
    height: 20px;
}

.card .cuisines {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
    color:orangered;
    
}

.card .address {
    font-size: 1em;
    color: #999;
    margin-bottom: 10px;
}

.card .delivery-time {
    font-size: 2em;
   
    color: #333;
    margin-bottom: 15px;
}


.cardName {
    color: #3f3f3f;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  
  .restaurantImage {
    width: 150px;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
  }
  
  .ratingImage {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .cuisines,
  .deliveryTime,
  .address {
    margin-top: 10px;
  }
  
  